/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (min-width: 801px) {
    body {
        width: 100%;
        height: 100vh;
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: antiquewhite;
      }
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(auto, auto);
    gap: 2px;
    grid-auto-flow: row;
    width: 900px;
    height: fit-content;
    margin: 0 auto;
    background-color: white;
  }
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 100%;
    padding: 0 8px 8px 8px;
  }
}
@media screen and (max-width: 800px) {
    body {
        width: 100%;
        /* height: 100vh; */
        padding-bottom: 8px;
        padding-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: antiquewhite;
      }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(auto, auto);
    gap: 2px;
    grid-auto-flow: row;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    background-color: white;
  }
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 100%;
    padding: 0 8px 8px 8px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    body {
        width: 100%;
        /* height: 100vh; */
        padding-bottom: 8px;
        padding-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: antiquewhite;
      }
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(auto, auto);
    gap: 2px;
    grid-auto-flow: row;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    background-color: white;
  }
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0 8px 8px 8px;
  }
}
